<div class="container-fluid mt-3">
 <div class="">
  <div class="row">
   <div class="col-9">
    <div class="row">
     <div class="col-9">
      <h3>Listado de Cursos</h3>
      <a href="/admin/courses/addCourse" class="btn btn-success">Agregar curso <i class="fa fa-plus"></i></a>
     </div>
    </div>
  </div>
  <div class="row">
   <div class="col">
    <table class="table">
     <thead class="thead-dark">
      <tr>
          <th scope="col">Nombre</th>
          <th scope="col" colspan="2">Descripcion</th>
          <th scope="col">Imagen</th>   
          <th scope="col">Descripcion Imagen</th>   
      </tr>
     </thead>
     <tbody>
         {{#each courses}}
         <tr>  
             <td scope="row">{{name}}</td>
             <td colspan="2">{{description}}</td>
             <td scope="row">{{image}}</td>
             <td scope="row">{{imageDescription}}</td>
             <td class="text-center">
                 <a href="/admin/courses/updateCourse/{{id}}" title="Editar" class="btn btn-sm btn-info mt-2"><i class="fa fa-pencil"></i></a>
                 <a href="/admin/courses/deleteCourse/{{id}}" title="Eliminar" class="btn btn-sm btn-danger mt-2"><i class="fa fa-trash"></i></a>
             </td>
         </tr>
         {{/each}}
     </tbody>
  </table>
   </div>
  </div>
 </div>
</div>

<div class="row">
 <div class="col">
  
 </div>
</div>