<div class="container" style="margin: 100px auto">
 <div class="row">
  <div class="col-6 offset-3">
   <h4>Actualizar Curso</h4>
   <form action="/admin/courses/updateCourse" method="post" enctype="multipart/form-data">
    <div class="form-group">
     <input type="hidden" value="{{course.id}}" name="id">
    </div>
    <div class="form-group">
     <input type="text" class="form-control" placeholder="Nombre" name="name" value="{{course.name}}"></input>
    </div>
    <div class="form-group">
     <textarea type="text" class="form-control" placeholder="Descripcion" name="description" value="{{course.description}}"></textarea>
    </div>
    <div class="form-group">
     <label>Agregar/Actualizar imagen: 
      <input type="file" class="form-control" name="image" id="image" />
     </label>
     <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual</label>
      <input type="hidden" name="img_original" value="{{course.img_id}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Descripcion Imange" name="imageDescription">{{course.imageDescription}}</input>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
   </form>
   {{#if error}}
    <p>{{message}}</p>
   {{/if}}
  </div>
 </div>
</div>